In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./Data/homeprices_banglore.csv')
df.head()

   area  bedrooms   price
0  1056         2   39.07
1  2600         4  120.00
2  1440         3   62.00
3  1521         3   75.00
4  1200         2   51.00

In [3]:
df.sample(10)

    area  bedrooms   price
1   2600         4  120.00
7   3300         4  155.00
17  1540         3   60.00
12  1000         2   38.00
13  1100         2   40.00
9   3700         5  167.00
0   1056         2   39.07
8   1310         3   50.00
11  2785         4  140.00
15  1175         2   42.00

In [4]:
from sklearn import preprocessing

In [5]:
sx = preprocessing.MinMaxScaler()
sy = preprocessing.MinMaxScaler()

X_scaled = sx.fit_transform(df.drop(columns=['price'],axis='columns'))
y_scaled = sy.fit_transform(df['price'].values.reshape(df.shape[0],1))