In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('./Data/spam_ham_dataset.csv')
df1.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [8]:
df2 = df1.drop(columns=['Unnamed: 0','label_num'],axis='columns')

In [10]:
df2['Category'] = df2.label
df2['Message'] = df2.text

In [13]:
df2 = df2.drop(columns=['text','label'],axis='columns')

In [42]:
len(df2)

5171

In [41]:
df = pd.read_csv("./Data/spam.csv")
len(df)

5572

In [44]:
print(5171+5572)

10743

In [38]:
merged_df = pd.concat([df,df2])

In [39]:
len(merged_df)

10743

In [40]:
merged_df.to_csv('TotalData.csv')