In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Data/zameen-updated.csv')

In [3]:
df.head()

,property_id,location_id,page_url,property_type,price,location,city,province_name,latitude,longitude,baths,area,purpose,bedrooms,date_added,agency,agent,Area Type,Area Size,Area Category
0,237062,3325,https://www.zameen.com/Property/g_10_g_10_2_gr...,Flat,10000000,G-10,Islamabad,Islamabad Capital,33.679890,73.012640,2,4 Marla,For Sale,2,02-04-2019,NaN,NaN,Marla,4.0,0-5 Marla
1,346905,3236,https://www.zameen.com/Property/e_11_2_service...,Flat,6900000,E-11,Islamabad,Islamabad Capital,33.700993,72.971492,3,5.6 Marla,For Sale,3,05-04-2019,NaN,NaN,Marla,5.6,5-10 Marla
2,386513,764,https://www.zameen.com/Property/islamabad_g_15...,House,16500000,G-15,Islamabad,Islamabad Capital,33.631486,72.926559,6,8 Marla,For Sale,5,07-17-2019,NaN,NaN,Marla,8.0,5-10 Marla
3,656161,340,https://www.zameen.com/Property/islamabad_bani...,House,43500000,Bani Gala,Islamabad,Islamabad Capital,33.707573,73.151199,4,2 Kanal,For Sale,4,04-05-2019,NaN,NaN,Kanal,2.0,1-5 Kanal
4,841645,3226,https://www.zameen.com/Property/dha_valley_dha...,House,7000000,DHA Defence,Islamabad,Islamabad Capital,33.492591,73.301339,3,8 Marla,For Sale,3,07-10-2019,Easy Property,Muhammad Junaid Ceo Muhammad Shahid Director,Marla,8.0,5-10 Marla

In [4]:
df = df.drop(columns=['property_id','location_id','page_url','province_name','purpose','agency','agent'],axis='columns')

In [5]:
df.head()

,property_type,price,location,city,latitude,longitude,baths,area,bedrooms,date_added,Area Type,Area Size,Area Category
0,Flat,10000000,G-10,Islamabad,33.679890,73.012640,2,4 Marla,2,02-04-2019,Marla,4.0,0-5 Marla
1,Flat,6900000,E-11,Islamabad,33.700993,72.971492,3,5.6 Marla,3,05-04-2019,Marla,5.6,5-10 Marla
2,House,16500000,G-15,Islamabad,33.631486,72.926559,6,8 Marla,5,07-17-2019,Marla,8.0,5-10 Marla
3,House,43500000,Bani Gala,Islamabad,33.707573,73.151199,4,2 Kanal,4,04-05-2019,Kanal,2.0,1-5 Kanal
4,House,7000000,DHA Defence,Islamabad,33.492591,73.301339,3,8 Marla,3,07-10-2019,Marla,8.0,5-10 Marla

In [6]:
df['property_type'].unique()

array(['Flat', 'House', 'Penthouse', 'Farm House', 'Lower Portion',
       'Upper Portion', 'Room'], dtype=object)

In [7]:
df['city'].unique()

array(['Islamabad', 'Lahore', 'Faisalabad', 'Rawalpindi', 'Karachi'],
      dtype=object)

In [8]:
df['Area Type'].unique()

array(['Marla', 'Kanal'], dtype=object)

In [9]:
df = df.drop(columns=['Area Category'],axis='columns')

In [10]:
df = df.drop(columns=['date_added'],axis='columns')

In [11]:
df = df.drop(columns=['area'],axis='columns')

In [12]:
df.head()

,property_type,price,location,city,latitude,longitude,baths,bedrooms,Area Type,Area Size
0,Flat,10000000,G-10,Islamabad,33.679890,73.012640,2,2,Marla,4.0
1,Flat,6900000,E-11,Islamabad,33.700993,72.971492,3,3,Marla,5.6
2,House,16500000,G-15,Islamabad,33.631486,72.926559,6,5,Marla,8.0
3,House,43500000,Bani Gala,Islamabad,33.707573,73.151199,4,4,Kanal,2.0
4,House,7000000,DHA Defence,Islamabad,33.492591,73.301339,3,3,Marla,8.0

In [13]:
df['location']=df['location'].apply(lambda x : x.strip())

In [14]:
location_stats = df['location'].value_counts(ascending=False)

In [15]:
location_less_10 = location_stats[location_stats<=10].index

In [16]:
location_less_10

Index(['Shah Khalid Colony', 'Nishtar Road (Lawrence Road)', 'Tricon Village',
       'Abdullahpur', 'Sanda Road', 'Mall Road', 'Race Course', 'Dhoke Gangal',
       'Britto Road', 'Zero Point',
       ...
       'Faisalabad, Punjab', 'Zaitoon Colony', 'Nooriabad', 'G. H. Q',
       'Federal Government Employees Housing Foundation', 'Firdous Colony',
       'Samsani Road', 'Gulfishan Town', 'Vital Homes Housing Scheme',
       'Sundar'],
      dtype='object', name='location', length=825)

In [17]:
df.location = df.location.apply(lambda x : "Others" if x in location_less_10 else x)

In [18]:
is_word_in_column  = df.location.isin(['Others'])
print(f"The word  is present in the 'location' column: {is_word_in_column.any()}")

The word  is present in the 'location' column: True

In [19]:
df.shape

(168446, 10)

In [20]:
finalDf = df.copy()

In [21]:
len(finalDf.bedrooms)

168446

In [22]:
finalDf = finalDf[finalDf.baths < finalDf.bedrooms + 2]

In [23]:
finalDf.location.value_counts(ascending=True)

location
Defence Colony                     8
Meherban Colony                    9
Immad Garden Housing Scheme       10
Sultan Town                       10
Usman Town                        10
                               ...
Bahria Town                     5235
Gulistan-e-Jauhar               5728
Bahria Town Rawalpindi          8186
Bahria Town Karachi             8535
DHA Defence                    21277
Name: count, Length: 684, dtype: int64

In [24]:
df0 = pd.get_dummies(finalDf.property_type)
df1 = pd.get_dummies(finalDf.location)
df2 = pd.get_dummies(finalDf['Area Type'])
df3 = pd.get_dummies(finalDf.city)

In [25]:
optDf = pd.concat([finalDf,df0,df1,df2,df3],axis='columns')

In [26]:
optDf = optDf.replace({True:1,False:0})
optDf = optDf.drop(columns=['property_type','location','city','Area Type'],axis='columns')

In [27]:
optDf.head()

,price,latitude,longitude,baths,bedrooms,Area Size,Farm House,Flat,House,Lower Portion,...,Zaraj Housing Scheme,Zia Colony,Zubaida Park,Kanal,Marla,Faisalabad,Islamabad,Karachi,Lahore,Rawalpindi
0,10000000,33.679890,73.012640,2,2,4.0,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
1,6900000,33.700993,72.971492,3,3,5.6,0,1,0,0,...,0,0,0,0,1,0,1,0,0,0
2,16500000,33.631486,72.926559,6,5,8.0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0
3,43500000,33.707573,73.151199,4,4,2.0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,0
4,7000000,33.492591,73.301339,3,3,8.0,0,0,1,0,...,0,0,0,0,1,0,1,0,0,0

In [28]:
x = optDf.drop(columns=['price'],axis='columns')
y = optDf['price']

In [29]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [30]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [31]:
model.score(x_test,y_test)

0.280111507547149

In [32]:
from sklearn.ensemble import RandomForestClassifier
cModel = RandomForestClassifier(n_estimators=100,random_state=40)
cModel.fit(x_train,y_train)

MemoryError: could not allocate 1937768448 bytes